<h1>Search</h1>
<div class="search-page">
  <% if @posts.exists? %>
    <h1>Top Posts</h1>
  <% else %>
    <h1>Oop! No matching posts ...</h1>
  <% end %>
<div class="user-images">
    <% @posts.each do |post|%>
      <div class="wrapper">
        <%= link_to  post.title, post_path(post) %>
      </div>
    <% end %>
  </div>
</div>